body {
    background-color: fff;
    font-family: Tahoma, Verdana, sans-serif;
}

#tel {
    display: inline;
    margin-left: 10px;
}

.img-fluid {
    height: 30rem;
    

}

#box1 {
    padding: 2rem;
    font-size: 150%;
    font-weight: 900;
    /*background-image: url("img/redpaint2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;*/
}



#box2 {
    background: rgb(32, 31, 31);
    color: white;
    padding: 2rem;
    font-size: 150%;
    line-height: 175%;
    
}

#box2 i {
    background-color: black;
    border-radius: 50%;
}

.card-img-top {
    height: 35%;
}


